In [1]:
import numpy as np  
import pandas as pd
from sklearn import datasets  #用数据库去学习，或者把数据库放到tenserflow模块练习
from sklearn.model_selection import train_test_split # 数据集测试集分离
from sklearn.neighbors import KNeighborsClassifier   # 会选择邻近几个点作为他的邻居，综合临近几个点模拟出数据的预测值
from sklearn.model_selection import cross_val_score
import matplotlib.pyplot as plt
import warnings 
warnings.filterwarnings("ignore")
import seaborn as sns
import os
%matplotlib inline

In [4]:
df = pd.read_excel('新建 XLSX 工作表.xlsx')   # 手动建立excel表，填写FALSE
df

   PersonID  Age  LikeGardening  PlaysVideoGames  LikesHats
0         1   13            0.0              NaN        NaN
1         2   14            0.0              NaN        0.0
2         3   15            0.0              NaN        0.0
3         4   25            NaN              NaN        NaN
4         5   35            0.0              NaN        NaN
5         6   49            NaN              0.0        0.0
6         7   68            NaN              NaN        NaN
7         8   71            NaN              0.0        0.0
8         9   73            NaN              0.0        NaN

In [21]:
features = df.columns.tolist()
for feature in features:
    df[feature][df[feature] == 0] = 'FALSE'   # 加载就变成0了，再转回去

In [17]:
df[df.isnull()] = 'TRUE'

In [22]:
df

   PersonID  Age LikeGardening PlaysVideoGames LikesHats
0         1   13         FALSE            TRUE      TRUE
1         2   14         FALSE            TRUE     FALSE
2         3   15         FALSE            TRUE     FALSE
3         4   25          TRUE            TRUE      TRUE
4         5   35         FALSE            TRUE      TRUE
5         6   49          TRUE           FALSE     FALSE
6         7   68          TRUE            TRUE      TRUE
7         8   71          TRUE           FALSE     FALSE
8         9   73          TRUE           FALSE      TRUE